
.modal {display: none;}
.modal.flex {display: flex;}
.readonly-field {background-color: #f9fafb; color: #6b7280;cursor: default; border-color: #e5e7eb;}
@keyframes fadeInDown {from {opacity: 0; transform: translate3d(0, -20px, 0);} to {opacity: 1; transform: translate3d(0, 0, 0);}}
.animate-fade-in-down {animation: fadeInDown 0.3s ease-out forwards;}
.action-menu {transition: opacity 0.1s ease-out;}
::-webkit-scrollbar {width: 8px; height: 8px;}
::-webkit-scrollbar-track {background: #f1f1f1; border-radius: 4px;}
::-webkit-scrollbar-thumb {background: #c1c1c1; border-radius: 4px;}
::-webkit-scrollbar-thumb:hover {background: #a8a8a8; }
/*#logo-sidebar ::-webkit-scrollbar-thumb {background: #0C231E; }*/